{#include base}
{#title}Per Person{/title}

{#body}
<div class="ui main container">
    <div class="ui icon message">
        <i class="small sync icon"></i>
        <div class="content">
            <p>Updated {inject:prettyTime.format(updated)} (refreshed every 6 hours). Shows up to 100 latest records per area.</p>
        </div>
    </div>
    {#for activity in activities}
    <a name="{activity.user.login}"></a>
    <img src="{activity.user.avatarUrl}" alt="{activity.user.name}" height="40">
    &nbsp;
    <big><a href="{activity.user.url}" >{#if activity.user.name} {activity.user.name} {#else} {activity.user.login} {/if}</a></big>
    &nbsp;&nbsp; ( {activity.pullRequestsActivities.size} <a href="#{activity.user.login}-prs" >Pull Requests ({activity.openPullRequestsCount} open)</a> |
    {activity.issuesActivities.size} <a href="#{activity.user.login}-issues" >Issues ({activity.openIssuesCount} open)</a> |
    {activity.issueCommentsActivities.size} <a href="#{activity.user.login}-issue-comments" >Issue comments</a> )

    <a name="{activity.user.login}-prs"></a>
    <table class="ui celled striped table">
        <thead>
        <tr>
            <th colspan="3">Pull Requests by {#if activity.user.name} {activity.user.name} {#else} {activity.user.login} {/if}</th>
        </tr>
        </thead>
        <tbody>
        {#for activityEntry in activity.pullRequestsActivities}
        <tr>
            <td>{inject:prettyTime.format(activityEntry.created)} ({activityEntry.created})</td>
            <td>{activityEntry.repository}</td>
            <td><a href="{activityEntry.url}">{activityEntry.url}</a></td>
            <td>{activityEntry.state}</td>
        </tr>
        {/for}
        </tbody>
    </table>

    <a name="{activity.user.login}-issues"></a>
    <table class="ui celled striped table">
        <thead>
        <tr>
            <th colspan="3">Issues by {#if activity.user.name} {activity.user.name} {#else} {activity.user.login} {/if}</th>
        </tr>
        </thead>
        <tbody>
        {#for activityEntry in activity.issuesActivities}
        <tr>
            <td>{inject:prettyTime.format(activityEntry.created)} ({activityEntry.created})</td>
            <td>{activityEntry.repository}</td>
            <td><a href="{activityEntry.url}">{activityEntry.url}</a></td>
            <td>{activityEntry.state}</td>
        </tr>
        {/for}
        </tbody>
    </table>

    <a name="{activity.user.login}-issue-comments"></a>
    <table class="ui celled striped table">
        <thead>
        <tr>
            <th colspan="3">Issue comments by {#if activity.user.name} {activity.user.name} {#else} {activity.user.login} {/if}</th>
        </tr>
        </thead>
        <tbody>
        {#for activityEntry in activity.issueCommentsActivities}
        <tr>
            <td>{inject:prettyTime.format(activityEntry.created)} ({activityEntry.created})</td>
            <td>{activityEntry.repository}</td>
            <td><a href="{activityEntry.url}">{activityEntry.url}</a></td>
        </tr>
        {/for}
        </tbody>
    </table>

    {/for}
</div>
{/body}
{/include}
