{#include base}
{#title}Open PR Queue{/title}

{#body}
<div class="ui main container">
    <div class="ui icon message">
        <i class="small sync icon"></i>
        <div class="content">
            <p>Updated {inject:prettyTime.format(organization.updated)} (refreshed every 10 minutes).</p>
        </div>
    </div>
    {#for entry in organization.repositories}
    <h2>{entry.value.size} Open Pull Requests in {entry.key}</h2>
    <table class="ui celled striped table">
        <thead>
        <tr>
            <th>Created At</th>
            <th>Title</th>
            <th>Author</th>
            <th>Reviewers</th>
        </tr>
        </thead>
        <tbody>
        {#for pullRequest in entry.value}
        <tr>
            <td>{inject:prettyTime.format(pullRequest.created)}</td>
            <td>
                <a href="{pullRequest.url}">{pullRequest.title} <b>#{pullRequest.shortUrl}</b></a>
            </td>
            <td>{pullRequest.author}</td>
            <td>{pullRequest.reviewers}</td>
        </tr>
        {/for}
        </tbody>
    </table>

    {/for}
</div>
{/body}
{/include}
